@import "variables";

.hide{
    visibility: hidden;
    opacity: 0;
    top: 0;
    margin-left: -11rem;
    margin-top: -11rem;
    
}

.loginModal{
    opacity: 1;
    position: fixed;
    left: 50%;
    right: 50%;
    margin-left: -10rem;
    margin-top: -8rem;
    height: 18rem;
    width: 18rem;
    padding: .5rem;
    background-color: white;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgb(94, 94, 94);
    transition: .4s;
    display: flex;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
    }
}
.signUpModal{
    opacity: 1;
    position: fixed;
    left: 50%;
    right: 50%;
    margin-left: -10rem;
    margin-top: -8rem;
    height: 26rem;
    width: 18rem;
    padding: .5rem;
    background-color: white;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgb(94, 94, 94);
    transition: .4s;
    display: flex;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
    }
}

.loginModalHeader{
    font-family: $primary-font;
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 2.5rem;
}

.formButtons{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.signUpButton{
    align-self: flex-end;
    padding: 1rem;
}
.signInButton{
    align-self: flex-end;
    padding: 1rem;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: black;
    display: flex;
}
.incorrectPass{
    color: $accent-color;
    margin-top: 12.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
    position: fixed;
    font-family: $primary-font;
    animation-name: shake;
    animation-duration: .3s;
}

.passValues{
    position: fixed;
    margin-top: 20rem;
    color: $accent-color;
    margin-left: 1rem;
    font-family: $primary-font;
    animation-name: shake;
    animation-duration: .3s;
}

@keyframes shake {
    0%{
        transform: translateX(4px);
    }
    25%{
        transform: translateX(-4px);
    }
    50%{
        transform: translateX(4px);
    }
    75%{
        transform: translateX(-4px);
    }
    100%{
        transform: translateX(4px);
    }
}