.cardContainer{
    position: relative;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    box-shadow: inset 0 0 10px rgb(212, 212, 212);
    border-radius: 5px;
    overflow: auto;
    @media(min-width: 768px){
        justify-content: flex-start;
        position: relative;
        
        max-width: 60rem;

    }
    
}