@import "variables";

.card{
    position: relative;
    top: auto;
    left: auto;
    min-width: 0;
    padding: .5rem;
    transition: flex 1s ease-in-out;
    height: 18rem;
    width: 18rem;
    border: 1px white;
    box-shadow: 3px 2px 6px 2px lightgray;
    border-radius: 5px;
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr .5fr 1fr 1fr;
    transition: .5s;
  
}
.darkModeBackground{
    background-color: $background-color-dark;
    box-shadow: 3px 2px 6px 2px $background-color-darker;

    p{
        color: $text-color-light;
    }
    h1{
        color: $text-color-light;
    }
}

.show{
    height: 18rem;
    width: 18rem;
    position: absolute;
    transition: .3s;
    z-index: 5;
    border: 1px white;
    background-color: white;
    box-shadow: 3px 2px 6px 2px $background-color-darker;
    border-radius: 5px;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4fr .2fr 1fr 1fr 1fr;
    @media(min-width: 1024px){
        
    }
}

.overlay{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: black;
}

.hide{
    transition: .5s;
    display: none;
}

.cardHeader{

    height: 5rem;
    background: rgb(65,250,252);
    background: linear-gradient(170deg, $dark-color, $accent-color);
    box-shadow: inset 0 0 10px $background-color-darker;
    padding: .5rem;
    font-size: 2rem;
    font-family: $primary-font;
    font-weight: 600;
    padding-bottom: 1rem;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: 1 / 1 / 2 / 4;
    
}

.modalHeader{
    height: 5rem;
    background: rgb(65,250,252);
    background: linear-gradient(170deg, $dark-color, $accent-color);
    box-shadow: inset 0 0 10px rgb(92, 92, 92);
    padding: .5rem;
    font-size: 2rem;
    font-family: $primary-font;
    font-weight: 600;
    padding-bottom: 1rem;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: 1 / 1 / 2 / 4;

}


.daysContainer{
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 2rem;
    padding-left: .25rem;
}

.modalDays{
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 2rem;
    padding-left: .25rem;
}

.description{
    font-size: .95rem;
    font-family: $secondary-font;
    color: rgb(82, 82, 82);
    padding: .5rem;
    padding-top: 0rem;
    height: 4.3rem;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.descriptionContainer{
    grid-area: 3 / 1 / 4 / 4;
}
.modalDescriptionContainer{
    grid-area: 3 / 1 / 4 / 3;
}
.modalDescription{
    font-size: 1rem;
    font-family: $secondary-font;
    color: rgb(82, 82, 82);
    padding: .5rem;
    height: 4.3rem;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tagsContainer{
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    padding: .25rem;
}

.modalTags{
    grid-area: 5 / 1 / 6 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    padding: .25rem;
}

.closeButton{
    margin: .5rem;
    grid-area: 4 / 3 / 5 / 4;
    align-self: end;
    justify-self: end;
}


.modalButton{
    margin: .5rem;
    grid-area: 5 / 3 / 6 / 4;
    align-self: end;
    justify-self: end;
    display: flex;
}
.joinButton{    
    margin-right: 1rem;
    animation-name: fade;
    animation-duration: .3s;
}

@keyframes fade {
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.modalDescriptionHeader{
    font-family: $primary-font;
    color: rgb(82, 82, 82);
    font-size: 2rem;
    margin: .5rem;
    animation-name: fade;
    animation-duration: .3s;

}

.locationHeader{
    font-family: $primary-font;
    color: rgb(82, 82, 82);
    font-size: 2rem;
    margin: .5rem;
    animation-name: fade;
    animation-duration: .3s;
}
.location{
    font-family: $secondary-font;
    color: rgb(82, 82, 82);
    margin: .5rem;
    font-size: 1rem;
}
.timeContainer{
    margin-top: 3rem;
    grid-area: 4 / 1 / 5 / 2;
}
.timeHeader{
    font-family: $primary-font;
    color: rgb(82, 82, 82);
    font-size: 2rem;
    margin: .5rem;
    animation-name: fade;
    animation-duration: .3s;
}
.time{
    font-family: $secondary-font;
    color: rgb(82, 82, 82);
    margin: .5rem;
    font-size: 1rem;
}