@import "../../styles/variables";

.btn{
    height: 2.5rem;
    width: 5rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    transition: .3s;
    font-size: 1rem;
}
.btn:hover{
    background-color: $dark-color;
}