@import "variables";

.container{ 
    max-width: 90rem;
    margin: auto;
    display: flex;
}
.flexContainerRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.cardContainerHeader{
    margin: 1rem;
    font-size: 3rem;
    font-family: $primary-font;
    color: rgb(66, 66, 66);
}
.searchBar{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}
