@import "variables";

.container{ 
    max-width: 90rem;
    margin: auto;
    display: flex;
    justify-content: center;
    @media (min-width: 1440px){
        justify-content: flex-start;
    }
}
.headerContainer{
    display: flex;
    justify-content: space-between;
}
.createButton{
    margin-right: 1.1rem;
    align-self: center;
}
.flexContainerRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 64rem;
}

.cardContainerHeader{
    margin: 1rem;
    font-size: 3rem;
    font-family: $primary-font;
    color: rgb(66, 66, 66);
}
.searchBar{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.chatIconBackground{
    position: fixed;
    top: 85vh;
    left: 75vw;
    z-index: 6;
    padding: 1rem;
    background-color: $dark-color;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 100px;
    cursor: pointer;
    @media (min-width: 768px){
        left: 90vw
    }
}
.chatIcon{
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    filter: invert(100%) drop-shadow(2px 2px 4px rgb(41, 41, 41));

}

.floatingChat{
    position: fixed;
    padding: 1rem;
    background-color: $primary-color;
    right: 50%;
    left: 50%;
    margin-left: -13rem;
    top: 10vh;
    height: 50rem;
    width: 24rem;
    border-radius: 5px;
    h1{
        color: white;
    }
}