@import "variables";

.chatBox {
    width: 100%;
    height: 75%;
    background-color: white;
}

.chatInput{

    width: 75%;
    height: 35px;

}

#messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#messages li{
    padding: 5px 10px;

}
#messages li:nth-child(odd){
    background: #eee;
}

.chatContainer {
    height: 50rem;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    background: linear-gradient(170deg, $dark-color, #75ced4);
    box-shadow: inset 0 0 10px rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    font-family: $secondary-font;
    align-items: center;
    overflow: auto;
    
}

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
}