@import "variables";

@keyframes fade {
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.chat{
    position: fixed;
}

.chatBox {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    font-family: $primary-font;
    font-size: 1rem;
    overflow: auto;
    ol{
        display: flex;
        flex-direction: column;
    }  
}

.darkModeChatBox {
    width: 90%;
    height: 90%;
    background-color: $background-color-dark;
    border-radius: 5px;
    padding: 1rem;
    font-family: $primary-font;
    font-size: 1rem;
    overflow: auto;
    ol{
        display: flex;
        flex-direction: column;
    }  
}
.messageContainer{
    
    align-self: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    animation-name: fade;
    animation-duration: .3s;
}

.usermessageContainer{
    align-self: flex-end;
    align-content: flex-end;
    flex-direction: column;
    display: flex;
    animation-name: fade;
    animation-duration: .3s;
}
.btn{
    margin-top: .5rem;
}
.chatInput{

    width: 75%;
    height: 35px;

}


.message{

    background-color: $dark-color;
    color: white;
    padding: .75rem;
    margin: .25rem;
    border-radius: 10px;
    align-self: flex-start;
    word-wrap: break-word;
    max-width: 14rem;
}

.usermessage{

    background-color: $primary-color;
    color: white;
    padding: .75rem;
    margin: .25rem;
    border-radius: 10px;
    align-self: flex-end;
    word-wrap: break-word;
    max-width: 14rem;
}

.username{
    color: black;
    position: relative;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}


.chatContainer {
    height: 40rem;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0 0 10px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    font-family: $secondary-font;
    align-items: center;
    overflow: auto;
    @media (min-width: 768px){
        height: 40rem;
    }
    @media(min-width: 1440px){
        height: 45.00rem;
    }
}

.darkModeChatContainer{
    height: 40rem;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: $background-color-dark;
    box-shadow: inset 0 0 10px $background-color-darker;
    display: flex;
    flex-direction: column;
    font-family: $secondary-font;
    align-items: center;
    overflow: auto;
    @media (min-width: 768px){
        height: 40rem;
    }
    @media(min-width: 1440px){
        height: 52.75rem;
    }
}

.chatHeader{
    font-size: 3rem;
    margin: 1rem;
    font-family: $primary-font;
    color: rgb(66, 66, 66);
}

.darkModeHeader{
    font-size: 3rem;
    margin: 1rem;
    font-family: $primary-font;
    color: $text-color-light;
}

.inputContainer {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
}