.hide{
    display: none;
}

.modal{
    position: fixed;
    top: 10vh;
    left: 10vw;
    min-height: 80vh;
    width: 80vw;
    background-color: white;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgb(94, 94, 94);

    .modalClose{
        border: none;
        background-color: white;
        font-size: 2rem;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: black;
    display: flex;
}
