@import "variables";

.searchContainer{
    max-width: 90rem;
    margin: auto;
}

.searchHeader{
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-family: $primary-font;
    color: rgb(66, 66, 66);
}