@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$primary-color: blue;
$secondary-color: red;
$accent-color: green;
$dark-color: darkblue;
$light-color: white;

$primary-font: 'Cabin', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

