@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
$primary-color: #0ce5e1;
$secondary-color: #50b6bb;
$accent-color: #ff0340;
$dark-color: #45969b;
$light-color: #f2eaec;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Crimson Text', serif;
$logo-font:'Cabin', sans-serif;

