@import  "variables";

.tag{
    height: 1rem;
    width: 3rem;
    background-color: $accent-color;
    border-radius: 25px;
    text-align: center;
    line-height: 1rem;
    color: white;
    font-size: .75rem;
}